@import 'common';
$cols: 12;
.edit-post-visual-editor{
	.block-editor-block-list__block{
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}
}
.column{
	background: lighten($colorGreyLight, 5);
	border: 1px solid darken($color: $colorGreyLight, $amount: .5);
	@for $i from 0 to $cols {
		&.is-#{$i + 1}{
			flex-basis: (100 / $cols * ($i + 1%)) ;
			width: (100 / $cols * ($i + 1%));
		}
	}
}