@import "../../../utils/colors";

.container{
	&.is-fluid{
		.container{
			position: relative;
			z-index: 2;
		}
		&.no-padding{
			padding-left: 0;
			padding-right: 0;
		}
	}
	&--bg{
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
} 